<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SqlConnection" value="Integrated Security=SSPI;Persist Security Info=False;User ID=Gustavo Morilla;Initial Catalog=TresCamadas;Data Source=DESKTOP-FKC65HE;"/>
		<add key="CaminhoArquivos" value="C:\arquivos\"/>
	</appSettings>
</configuration>